{:paths ["src"]
 :deps {thheller/shadow-cljs {:mvn/version "2.11.8"}
        devcards/devcards {:mvn/version "0.2.7"}
        datascript/datascript {:mvn/version "1.0.1"}
        reagent/reagent {:mvn/version "1.0.0-alpha2"}
       ;;  io.replikativ/datahike {:local/root "../datahike"}
        io.replikativ/datahike {:git/url "https://github.com/replikativ/datahike.git"
                                :sha "0e318b967b8ace834ac11d1e603646f7448229f0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}}